body {
  background: gainsboro;
}
/*******************HEADER AND NAV*************/
.showcase {
  background-color: black;
  padding: 1% 1%;
}

.navbar {
  background: rgb(160, 154, 154);
  height: 50px;
  margin: 10px 0;
}

.header {
  background: rgba(38, 196, 72, 0.589);
  height: 60px;
}
.showcase > .navbar,
.showcase > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  align-items: center;
  /* margin: 10px 0; */
}

.navbar-brand {
  background: rgba(255, 68, 0, 0.829);
  height: 60%;
  flex-grow: 1;
  /* width: 10%; */
  margin: 5px 5px 5px 5px;
}

.navbar-start {
  background: rgba(255, 68, 0, 0.829);
  height: 60%;
  flex-grow: 3;
  /* width: 65%; */
  /* margin: 10px; */
  /* margin: auto; */
}

.navbar-end {
  background: rgba(255, 68, 0, 0.829);
  height: 60%;
  flex-grow: 1;
  /* width: 20%; */
  margin: 5px;
  /* margin: auto; */
}

.title {
  background: rgb(38 196 72 / 95%);
  width: 100%;
  height: 60%;
  align-items: center;
  margin: 5px 5px 5px 5px;
}

/*********************SECTION AND ARTICLE*********************/
.showbody {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  background: rgba(5, 5, 0, 0.945);
  padding: 10px;
}

.section {
  background: rgb(71, 72, 82);
  margin: 10px;
  flex-grow: 3;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}

.wrapper div {
  margin: 5px;
  background: rgba(72, 112, 243, 0.767);
  height: 25px;
}

.wrapper-two {
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px;
}

.wrapper-two div {
  background: rgb(44, 209, 209);
  margin: 5px;
  height: 25px;
}

.item-five {
  flex: basis 100%;
}

.article {
  background: rgb(211, 71, 71);
  margin: 10px;
  flex-grow: 1;
}

.article-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
}
.article-body {
  background: rgba(241, 221, 41, 0.733);
  margin: 5px;
  height: 25px;
}

/*********************FOOTER**************/
.footer {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  background: rgba(5, 5, 0, 0.945);
  padding: 10px;
}

.footer-body {
  background: yellow;
  margin: 5px;
  height: 25px;
  width: 100%;
}

/************************@MEDIA QUERYS***************/

/************************TABLET*********************/
@media (min-width: 768px) and (max-width: 1024px) {
  .showbody {
    display: block;
    background: rgb(241 221 41 / 73%);
  }

  .navbar-brand,
  .navbar-start,
  .navbar-end,
  .title {
    height: 40%;
  }

  .wrapper div,
  .wrapper-two div,
  .footer-body {
    height: 20px;
  }
  .header,
  .navbar {
    margin: 10px;
  }

  .article-container {
    margin: 5px;
    padding: 2px;
  }

  .article-body {
    height: 20px;
  }
}

/***********************MOBILE**********************/
@media (max-width: 767px) {
  body {
    background: rgb(204, 199, 209);
  }

  .showcase > .navbar,
  .showcase > .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 20px 20px;
    /* background: rgb(71 103 206); */
  }

  .showcase > .navbar {
    background: rgb(56, 68, 82);
    height: 150px;
  }

  .showcase > .header {
    background: rgb(6, 139, 84);
    height: 75px;
  }

  .navbar-brand,
  .navbar-start,
  .navbar-end {
    width: 80%;
    height: 40%;
    margin: 10px;
    background: rgb(211 71 71);
  }

  .header .title {
    height: 40%;
    width: 80%;
  }

  .section{
    margin: 15px;
  }
  .showbody {
    display: block;
    background: rgb(245 245 9 / 82%);
  }
  
  .wrapper {
    display: block;
    padding-top: 2px;
  }

  .wrapper div {
    margin: 15px 30px;
  }
  .wrapper-two{
    padding-bottom: 15px;
  }

  .wrapper-two div{
    margin: 0 30px;
  }

  .article-body{
    margin: 10px 30px;
  }

  .article-container{
    padding: 10px;
    
  }

  .footer-body{
    margin: 10px;
    background: rgba(241, 221, 41, 0.733);
  }
}
